body {
    padding-top: 70px; /* .navbar-fixed-top */
}

/* Fix for Bootstraps silly Modals moving everything all the time */

body, .navbar-fixed-top, .navbar-fixed-bottom {
    padding-right: 0 !important;
}

body.modal-open {
    overflow: auto;
}

/* End Bootstrap Modal fix */

.navbar-toggle {
    float: left; /* Hamburger button never goes on the right. Ever */
    margin: 8px; /* Matches Bootstrap styles */
}

.fixed {
    position: fixed;
}

.section {
    margin-bottom: 6em;
}

.pokedex-entry {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.gen-header h3 {
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: .25em;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: inline-block;
}

.pokedex-entry img {
    position: relative;
    margin-left: 50%;
    /*margin-top: 50%;*/
    -webkit-transform: translateY(0%) translateX(-50%);
}

.pokedex-entry:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.pokedex-entry.caught:after {
    background-color: rgba( 0, 0, 0, 0.25 );
    background-image: url( '/images/caught.png' );
    background-position: center center;
    background-repeat: no-repeat;
}

.edit-pokedex-entry:hover {
    cursor: default;
}

body.admin .edit-pokedex-entry:hover {
    cursor: pointer;
}

@media only screen and ( max-width: 768px ) {

    .pokedex-entry {
        min-height: 13em;
    }
    
    .navbar-brand {
        font-size: 0.95em;
    }

}